{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div class="container">
        <h1>Historique des quizz</h1>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.quiz }}</td>
                        <td>{{ activity.score }}</td>
                        <td>{{ activity.date|date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
